In [1]:
import pandas as pd
import numpy as np

np.random.seed(13)

pandas_dataframe = pd.DataFrame(
    {
        "n": np.random.randn(20),
        "group": np.random.choice(list("xyz"), 20),
        "abool": np.random.choice([True, False], 20),
    }
)

In [2]:
import pyspark 
spark = pyspark.sql.SparkSession.builder.getOrCreate()

22/05/18 09:53:08 WARN Utils: Your hostname, Brandyns-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.3.168 instead (on interface en0)
22/05/18 09:53:08 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/opt/homebrew/anaconda3/lib/python3.9/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/05/18 09:53:09 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [16]:
######### Part 1
# Convert the pd dataframe to a spark dataframe
df = spark.createDataFrame(pandas_dataframe)

In [4]:
# Show the first 3 rows
df.show(3)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
+--------------------+-----+-----+
only showing top 3 rows

In [6]:
# Show the first 7 rows
df.head(7)

[Row(n=-0.712390662050588, group='z', abool=False),
 Row(n=0.753766378659703, group='x', abool=False),
 Row(n=-0.044503078338053455, group='z', abool=False),
 Row(n=0.45181233874578974, group='y', abool=False),
 Row(n=1.3451017084510097, group='z', abool=False),
 Row(n=0.5323378882945463, group='y', abool=False),
 Row(n=1.3501878997225267, group='z', abool=False)]

Difference between .show() and .head()? 

- .show(), will be lazy and show the rows but without manipulation capabilities
- .head(), will show the selected rows as a list

In [8]:
# View summary of data with .describe()
df.describe().show()

+-------+------------------+-----+
|summary|                 n|group|
+-------+------------------+-----+
|  count|                20|   20|
|   mean|0.3664026449885217| null|
| stddev|0.8905322898155363| null|
|    min|-1.261605945319069|    x|
|    max|2.1503829673811126|    z|
+-------+------------------+-----+

In [11]:
# Use .select to create a new df with just the n and abool columns, view the first 5 rows of the dataframe
df.select(df.n, df.abool).show(5)

+--------------------+-----+
|                   n|abool|
+--------------------+-----+
|  -0.712390662050588|false|
|   0.753766378659703|false|
|-0.04450307833805...|false|
| 0.45181233874578974|false|
|  1.3451017084510097|false|
+--------------------+-----+
only showing top 5 rows

In [12]:
# Use .select to create a new df with just the group and abool columns, show first 5
df.select(df.group, df.abool).show(5)

+-----+-----+
|group|abool|
+-----+-----+
|    z|false|
|    x|false|
|    z|false|
|    y|false|
|    z|false|
+-----+-----+
only showing top 5 rows

In [13]:
# Use .select to create a new df with the group column and abool renamed as a_boolean_value, show first 3 rows
df.select(df.group, df.abool.alias('a_boolean_value')).show(3)

+-----+---------------+
|group|a_boolean_value|
+-----+---------------+
|    z|          false|
|    x|          false|
|    z|          false|
+-----+---------------+
only showing top 3 rows

In [14]:
# Use .select to create a new df with the group column and the n column renamed to a_numeric_value, show first 6 rows
df.select(df.group, df.n.alias('a_numeric_value')).show(6)

+-----+--------------------+
|group|     a_numeric_value|
+-----+--------------------+
|    z|  -0.712390662050588|
|    x|   0.753766378659703|
|    z|-0.04450307833805...|
|    y| 0.45181233874578974|
|    z|  1.3451017084510097|
|    y|  0.5323378882945463|
+-----+--------------------+
only showing top 6 rows

In [15]:
############ Part 2

In [17]:
df = spark.createDataFrame(pandas_dataframe)

In [20]:
# Use .select to add 4 to the n column, show results
df.select(df.n + 4).show(10)

+------------------+
|           (n + 4)|
+------------------+
|3.2876093379494122|
| 4.753766378659703|
|3.9554969216619464|
|  4.45181233874579|
|5.3451017084510095|
| 4.532337888294546|
| 5.350187899722527|
|  4.86121137416932|
| 5.478685737435897|
| 2.954622869461466|
+------------------+
only showing top 10 rows

In [21]:
# Subtract 5 rom the column and show results
df.select(df.n - 5).show(10)

+-------------------+
|            (n - 5)|
+-------------------+
| -5.712390662050588|
| -4.246233621340297|
| -5.044503078338053|
|  -4.54818766125421|
|-3.6548982915489905|
| -4.467662111705454|
|-3.6498121002774733|
|  -4.13878862583068|
| -3.521314262564103|
| -6.045377130538534|
+-------------------+
only showing top 10 rows

In [23]:
# Multiply the n column by 2, view results along with original numbers
df.select(df.n * 2, df.n).show(10)

+--------------------+--------------------+
|             (n * 2)|                   n|
+--------------------+--------------------+
|  -1.424781324101176|  -0.712390662050588|
|   1.507532757319406|   0.753766378659703|
|-0.08900615667610691|-0.04450307833805...|
|  0.9036246774915795| 0.45181233874578974|
|  2.6902034169020195|  1.3451017084510097|
|  1.0646757765890926|  0.5323378882945463|
|  2.7003757994450535|  1.3501878997225267|
|  1.7224227483386412|  0.8612113741693206|
|   2.957371474871793|  1.4786857374358966|
| -2.0907542610770684| -1.0453771305385342|
+--------------------+--------------------+
only showing top 10 rows

In [26]:
# Add a new column named n2 that is the n value multiplied by -1. Show first 4 rows of df (original n and n2)
df.select((df.n * -1).alias('n2'), df.n).show(10)

+--------------------+--------------------+
|                  n2|                   n|
+--------------------+--------------------+
|   0.712390662050588|  -0.712390662050588|
|  -0.753766378659703|   0.753766378659703|
|0.044503078338053455|-0.04450307833805...|
|-0.45181233874578974| 0.45181233874578974|
| -1.3451017084510097|  1.3451017084510097|
| -0.5323378882945463|  0.5323378882945463|
| -1.3501878997225267|  1.3501878997225267|
| -0.8612113741693206|  0.8612113741693206|
| -1.4786857374358966|  1.4786857374358966|
|  1.0453771305385342| -1.0453771305385342|
+--------------------+--------------------+
only showing top 10 rows

In [29]:
# Add a new column named n3 that is the n value squared, show first 5 rows, see n, n2 and n3
df.select(df.n, (df.n * -1).alias('n2'), (df.n * df.n).alias('n3')).show(5)

+--------------------+--------------------+--------------------+
|                   n|                  n2|                  n3|
+--------------------+--------------------+--------------------+
|  -0.712390662050588|   0.712390662050588|   0.507500455376875|
|   0.753766378659703|  -0.753766378659703|  0.5681637535977627|
|-0.04450307833805...|0.044503078338053455|0.001980523981562...|
| 0.45181233874578974|-0.45181233874578974| 0.20413438944294027|
|  1.3451017084510097| -1.3451017084510097|  1.8092986060778251|
+--------------------+--------------------+--------------------+
only showing top 5 rows

In [31]:
# Column object combining group and abool
df.group + df.abool

Column<'(group + abool)'>

In [35]:
# Error given due to type
df.select(df.group + df.abool)

AnalysisException: cannot resolve '(CAST(group AS DOUBLE) + abool)' due to data type mismatch: differing types in '(CAST(group AS DOUBLE) + abool)' (double and boolean).;
'Project [unresolvedalias((cast(group#214 as double) + abool#215), Some(org.apache.spark.sql.Column$$Lambda$3266/0x0000000801269040@269f23de))]
+- LogicalRDD [n#213, group#214, abool#215], false

In [37]:
# from pyspark.sql.functions import *
# import pyspark.sql.functions as F